/*
/////////////////////
/// COMMON PAGE SETUP
/////////////////////
*/
body {
    padding-top: 90px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width:730px;
}

.navbar .brand {
	color:#333;
	padding:5px 20px 15px;
}
.navbar .brand sub {
	font-size:10px;
	color:#777;
	margin-right:10px;
}
.sidebar-nav {
	padding: 9px 0;
	position: fixed;
	top: 80px;
	left:20px;
	height:85%;
	width: 250px;
	overflow: auto;
}
.sidebar-nav h3 {
	word-wrap:break-word;
}
#sidebar_project_title a {
	color: #333;
}
.sidebar-mainpage {
	margin-left:280px;
}

.sidebar-nav .nav-list .nav-header {
	background-color:#f6f6f6;
	margin-top:15px;
}
.sidebar-nav .nav-list .nav-header:first-child {
	margin-top:0;
}
.sidebar-nav .nav-list {
	padding:3px 15px 3px 3px;
}
.sidebar-nav .nav-list li.nav-header {
	clear:both;
}
.sidebar-nav .nav-list li.alphabetical-filter {
	float:left;
}
.sidebar-nav .nav-list li.alphabetical-filter a {
	padding:2px 3px;
	margin:0;
}


.navbar-inner {
	height:55px;
	padding-top:15px;
}
.navbar .brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .nav > li.authlink > a {
	color: #0088cc;
}

footer {
	color: #999;
	padding:20px;
}
footer a {
	color: #999;
	text-decoration:underline;
}

/* Responsive setup at bottom */



/*
/////////////////////
/// GLOBAL STYLES
/////////////////////
*/

.modal-body .form-horizontal {
	margin-bottom:0;
}

.help-inline,
.help-block,
.help-inline a,
.help-block a {
	color: #999;
}

th.select,
td.select {
	text-align:center;
	padding:0 5px 7px;
}
th.select + th,
td.select + td {
	border-left:none;
}

table.sortable th[data-sort] {
	cursor:pointer;
}

.labrador_help_toggle {
	padding:5px 20px 5px 10px;
}

small.muted {
	line-height:12px;
}


/*
/////////////////////
/// HOMEPAGE
/////////////////////
*/

.home-lab {
	margin-bottom:20px;
}

#filter_status_bar {
	margin-top:20px;
}
#filter_status_bar label {
	display:inline-block;
	position:relative;
}
#filter_status_bar input {
	display:none;
}

#filter_status_bar label span {
	display:inline-block;
	border:1px solid #CCC;
	height:13px;
	width:13px;
	margin: 0 5px -3px 20px;
}
#filter_status_bar label span:before {
	content: " ";
	position:absolute;
	top:0;
	left:24px;
}
#filter_status_bar label.checked span:before {
	content: "x";
}

#paper-browser-table {
	cursor:pointer;
}
#paper-browser-table .num {
	text-align:center;
}
#paper-browser-table tr.error td,
#filter_status_bar span.error {
	background-color:#F9E9E9;
}
#paper-browser-table tr.error:hover td {
	background-color:#f2dede;
}
#paper-browser-table tr.info td,
#filter_status_bar span.info {
	background-color:#EDF6FA;
}
#paper-browser-table tr.info:hover td {
	background-color:#d9edf7;
}
#filter_status_bar span.warning {
	background-color:#fcf8e3;
}

.text-filter {
	text-align:center;
}
#homepage_text_filter {
	margin: 10px 0 0;
	font-size:12px;
	line-height:12px;
	padding:2px 8px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}


/*
/////////////////////////
/// TABS AND PAGE SETUP
/////////////////////////
*/

.project-tabs {
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.project-tabs li {
	font-size: 18px;
	color: #999;
	background-color: #FFF;
	text-align: right;
	margin: 0;
	border: 1px solid #CCC;
	border-bottom: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.project-tabs li a {
	color: #666;
	padding:22px 10px;
	display:block;
}
.project-tabs li a.fake_link,
.project-tabs li a.fake_link:hover {
	cursor: default;
	color: #999;
	text-decoration:none;
}
.project-tabs li:first-child {
	-webkit-border-radius: 15px 0px 0px 0px;
	border-radius: 15px 0px 0px 0px;
}
.project-tabs li:last-child {
	border-bottom:1px solid #CCC;
	-webkit-border-radius: 0px 0px 0px 15px;
	border-radius: 0px 0px 0px 15px;
}
.project-tabs li.active {
	background:#FFF;
	border-right:1px solid #FFF;
}
.project-tabs li.inactive {
	background:#EDEDED;
}
.project-tabs li .subline {
	font-size: small;
	display:block;
	color:#CCC;
}
.project-tabs li .subline a {
	color:#CCC;
}
.project-tabs li .subline a:hover {
	color:#999;
}
.project-tabs li.inactive .subline {
	font-style:italic;
	color:#999;
}

.project-mainpage {
	border:1px solid #CCC;
	margin-left:249px;
	min-height:600px;
	margin-top:20px;
	padding:20px;
	background-color: #FFF;
}

.project_header_tag {
	margin-bottom: 20px;
}

.project_header_tag small,
.project_header_tag span {
	margin-right:20px;
	white-space:nowrap;
}






/*
/////////////////////
/// PROJECT PAGE
/////////////////////
*/

.icon-rotate-animate {
	-webkit-animation: rotateThis 1s infinite linear;
	-moz-animation:    rotateThis 1s infinite linear;
	-ms-animation:     rotateThis 1s infinite linear;
	-o-animation:      rotateThis 1s infinite linear;
	animation:      rotateThis 1s infinite linear;
}

@-webkit-keyframes "rotateThis" {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}
@-moz-keyframes "rotateThis" {
	from { -moz-transform: scale( 1 ) rotate( 0deg );   }
	to   { -moz-transform: scale( 1 ) rotate( 360deg ); }
}
@-ms-keyframes "rotateThis" {
	from { -ms-transform: scale( 1 ) rotate( 0deg );   }
	to   { -ms-transform: scale( 1 ) rotate( 360deg ); }
}
@-o-keyframes "rotateThis" {
	from { -o-transform: scale( 1 ) rotate( 0deg );   }
	to   { -o-transform: scale( 1 ) rotate( 360deg ); }
}
@keyframes "rotateThis" {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

.assign_quickFill,
.groupAssign_quickFill {
	padding:3px;
}

.help-inline.text-error {
	color:#b94a48;
}
.form-horizontal input.inputError {
	color: #b94a48;
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-horizontal input.inputError:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.table_form input[type=text] {
	width:100%;
	padding:0;
	border:none;
	border-bottom:1px solid #f9f9f9;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color:#fcfcfc;
	font-family: Arial, sans-serif;
	font-size:12px;
}

.table_form input[type=text]:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color:#f6f6f6;
	border-bottom:1px solid #0088cc;
}




/*
/////////////////////
/// DATASETS PAGE
/////////////////////
*/

#existing_datasets_table .label-info {
	background-color: #9DC1D4;
}
#existing_datasets_table .label-inverse {
	background-color: #D3DBDE;
}





/*
/////////////////////
/// PROCESSING PAGE
/////////////////////
*/

#show_processing pre {
	background-color:transparent;
	font-size:11px;
	padding:0;
	margin:0;
	border:0;
}

#bash_preview pre {
	border:0;
	padding:0;
	margin:0;
	font-size:11px;
}

.processing_table {
	width:100%;
}
.processing_table tr th,
.processing_table tr td {
	margin-bottom:10px;
	padding:5px 8px;
}
.processing_table tr th {
	font-weight:normal;
	width: 100px;
	padding-right:15px;
	text-align:right;
}

.processing_table .dropdown {
	width:220px;
	vertical-align:top;
}
.processing_steps_table tr th,
.processing_steps_table tr td {
	vertical-align:top;
}
.processing_steps_table tr td textarea {
	width:100%;
	font-family:monospace;
	font-size:11px;
	line-height:14px;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}


/*
/////////////////////
/// REPORTS PAGE
/////////////////////
*/

.reports_form {
	text-align:right;
	max-width:100%;
}
.reports_form select {
	width:auto;
	max-width:100%;
}
.reports_form select opgroup {
	font-style:normal;
}

iframe.report {
	width:100%;
	min-height:8000px;
	border:1px solid #CCC;
}



/*
/////////////////////
/// SEARCH PAGE
/////////////////////
*/

span.h {
	background-color:#FFFF00;
}
h1 span.h {
	padding:0 10px;
}


/*
///////////////
// RESPONSIVE STYLES
///////////////
*/

/* RESPONSIVE STUFF */
@media screen and (max-width:980px){
	body{
		padding-top:0;
	}
	.navbar-fixed-top .navbar-inner {
		padding-top:15px;
	}
	
	.homepage.sidebar-nav {
		display: none;
	}
	.homepage.sidebar-mainpage {
		margin-left:0;
	}
	
	.project-mainpage {
		margin-left:0;
	}
	.sidebar-nav {
		position: relative;
		top:auto;
		left:auto;
		width:auto;
		height:auto;
	}
	.project-tabs li {
		text-align:left;
	}
	.project-tabs li.active {
		border-right:1px solid #CCC;
	}
	.project-tabs li:first-child {
		-webkit-border-radius:15px 15px 0 0;
		border-radius:15px 15px 0 0;
	}
	.project-tabs li:last-child {
		-webkit-border-radius:0 0 15px 15px;
		border-radius:0 0 15px 15px;
	}
}
