body {
    padding-top: 90px;
    padding-bottom: 40px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.navbar .brand {
	color:#333;
}
.sidebar-nav {
	padding: 9px 0;
	position: fixed;
	top: 80px;
	height:85%;
	width: 250px;
	overflow: auto;
}
.sidebar-mainpage {
	margin-left:280px;
}

.navbar-inner {
	height:55px;
	padding-top:15px;
}
.navbar .brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.project-tabs {
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.project-tabs li {
	font-size: 18px;
	color: #999;
	background-color: #FFF;
	text-align: right;
	padding: 20px 10px;
	margin: 0;
	border: 1px solid #CCC;
	border-bottom: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.project-tabs li a {
	color: #666;
}
.project-tabs li:first-child {
	-webkit-border-radius: 15px 0px 0px 0px;
	border-radius: 15px 0px 0px 0px;
}
.project-tabs li:last-child {
	border-bottom:1px solid #CCC;
	-webkit-border-radius: 0px 0px 0px 15px;
	border-radius: 0px 0px 0px 15px;
}
.project-tabs li.active {
	background:#FFF;
	border-right:1px solid #FFF;
}
.project-tabs li.inactive {
	background:#EDEDED;
}
.project-tabs li .subline {
	font-size: small;
	display:block;
	color:#CCC;
}
.project-tabs li .subline a {
	color:#CCC;
}
.project-tabs li .subline a:hover {
	color:#999;
}
.project-tabs li.inactive .subline {
	font-style:italic;
	color:#999;
}

.project-mainpage {
	border:1px solid #CCC;
	margin-left:249px;
	min-height:600px;
	margin-top:20px;
	padding:20px;
	background-color: #FFF;
}



.help-inline,
.help-block,
.help-inline a,
.help-block a {
	color: #999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #DDD;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #DDD;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #DDD;
}



.input-large {
	font-size:17.5px;
	padding:11px 19px;
}

.small {
	font-size:0.8em;
}

#dataset_select_table tr td,
#papers_missing_datasets_table tr td,
#papers_missing_files_table tr td {
	cursor: pointer;
}


.file { 
  cursor: pointer;
  background-color:#F6F6F6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
 }
.locked,
.locked a,
.locked a:hover { 
  background-color:#CCC;
  color:#666;
  cursor: auto;
}

.dataset_div { 
  border:1px solid #CCC;
margin-bottom:20px;
padding: 5px 15px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;]
 }


.dataset_raw_div,
.dataset_aligned_div,
.dataset_derived_div { 
  width: 30%;
  float: left;
  margin-right:3%;
 }

.dataset_raw_div ul,
.dataset_aligned_div ul,
.dataset_derived_div ul {
  background-color:#F6F6F6;
  padding: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.dataset_div .label-info { 
  background-color: #D9EDF7;
  color: #3A87AD;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.dataset_div .label-success { 
  background-color: rgb(223,240,216);
  color:rgb(70,136,71);
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
}

.table td.icon { 
  text-align:center;
}
.table tr.success td.empty,
.table tr.error td.empty { 
  background-color:#EDEDED;
}
.table tr.success:hover td.empty,
.table tr.error:hover td.empty { 
  background-color:#DEDEDE;
}
.table tr.success td.error,
.table tr.error td.error { 
  background-color:#f2dede;
}
.table tr.success:hover td.error,
.table tr.error:hover td.error { 
  background-color:#ebcccc;
}
.table tr.success td.success,
.table tr.error td.success { 
  background-color:#dff0d8;
}
.table tr.success:hover td.success,
.table tr.error:hover td.success { 
  background-color:#d0e9c6;
}

.check {
	cursor:pointer;
}

#search_fields .modal-body,
#search_filters .modal-body {
    height: 500px;
}