body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.container-white {
	padding:10px 20px;
	background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.input-large {
	font-size:17.5px !important;
	padding:11px 19px !important;
}

.small {
	font-size:0.8em;
}

#dataset_select_table tr td,
#papers_missing_datasets_table tr td,
#papers_missing_files_table tr td {
	cursor: pointer;
}


.file { 
  cursor: pointer;
  background-color:#F6F6F6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
 }
.locked,
.locked a,
.locked a:hover { 
  background-color:#CCC !important;
  color:#666;
  cursor: auto;
}

.dataset_div { 
  border:1px solid #CCC;
margin-bottom:20px;
padding: 5px 15px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;]
 }


.dataset_raw_div,
.dataset_aligned_div,
.dataset_derived_div { 
  width: 30%;
  float: left;
  margin-right:3%;
 }

.dataset_raw_div ul,
.dataset_aligned_div ul,
.dataset_derived_div ul {
  background-color:#F6F6F6;
  padding: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.dataset_div .label-info { 
  background-color: #D9EDF7;
  color: #3A87AD;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.dataset_div .label-success { 
  background-color: rgb(223,240,216);
  color:rgb(70,136,71);
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
}

.table td.icon { 
  text-align:center;
}
.table tr.success td.empty,
.table tr.error td.empty { 
  background-color:#EDEDED;
}
.table tr.success:hover td.empty,
.table tr.error:hover td.empty { 
  background-color:#DEDEDE;
}
.table tr.success td.error,
.table tr.error td.error { 
  background-color:#f2dede;
}
.table tr.success:hover td.error,
.table tr.error:hover td.error { 
  background-color:#ebcccc;
}
.table tr.success td.success,
.table tr.error td.success { 
  background-color:#dff0d8;
}
.table tr.success:hover td.success,
.table tr.error:hover td.success { 
  background-color:#d0e9c6;
}

.check {
	cursor:pointer;
}